<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>scroller</title>
  <link rel="stylesheet" href="../style/style.css">
  <style>
    body {
      background: #f7f7f7;
    }

    .x-scroller {
      height: 100vh;
      overflow: hidden;
      position: relative;
    }

    .x-scroller .container .item {
      height: 50px;
      line-height: 50px;
      padding-left: 10px;
    }

    .x-scroller .container header {
      position: absolute;
      top: -50px;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }

    .x-scroller .container footer {
      height: 50px;
      width: 100%;
      line-height: 50px;
      text-align: center;
    }

    .x-scroller .container .item:nth-child(odd) {
      background: #f7f7f7;
    }

    .x-scroller .container .item:nth-child(even) {
      background: white;
    }

    .console {
      position: absolute;
      left: 20px;
      top: 20px;
      background: red;
    }
  </style>
</head>

<body>
  <div id="app">
    <x-banner :is-loading='isLoading' :is-more='isMore' v-on:load='generateList' v-on:refresh='refresh' @touchstart.prevent @touchmove.prevent>
      <div class="item" v-for="item in list" :key='item'>{{item}}</div>
    </x-banner>
  </div>
  <script src="../js/vue.js"></script>
  <script type="text/x-template" id="x-banner">
    <div ref='scroller' class="x-scroller">
      <div ref='container' class="container"  :style='ulstyle'>
        <header>
          <span v-if='!refresh'>下拉加载</span>
          <span v-else>正在加载</span>
        </header>
        <slot></slot>
        <footer>
          <span v-if='isMore && !refresh'>拼命加载中</span>
          <span v-if='!isMore'>没有更多了</span>
        </footer>
      </div>
    </div>
  </script>
  <script>
    Vue.component('x-banner', {
      template: "#x-banner",
      props: {
        isLoading: {
          type: Boolean,
          default: false
        },
        isMore: {
          type: Boolean,
          default: false
        }
      },
      data() {
        return {
          refresh: false,
          touch: {},
          translateY: 0,
          ulstyle: {
            transition: 'none',
            transform: 'translateY(0px)'
          },
          smoothSpeed: 0
        }
      },
      watch: {
        'isLoading': function (val) {
          if (this.translateY > 0 && !val) this.setMove(0, 'end')
        }
      },
      methods: {
        setTransform(translateY, type) {
          if (type === 'end') this.ulstyle.transition = `all 500ms ease 0s`
          else this.ulstyle.transition = ''
          this.ulstyle.transform = `translateY(${translateY}px)`
        },
        setMove(translateY, type) {
          this.$nextTick(() => {
            let h = this.$refs.scroller.clientHeight
            let maxMove = -this.$refs.container.clientHeight + h
            if (translateY > 50) translateY = 50
            if (translateY < maxMove) translateY = maxMove
            this.translateY = translateY
            this.refresh = false
            this.setTransform(translateY, type)
          })
        },
        getLoad() {
          if (this.isMore) this.$emit('load')
        },
        getRefresh(value) {
          this.refresh = true
          this.$emit('refresh')
        },
        touchstart(event) {
          event.preventDefault()
          this.touch = event.changedTouches[0]
        },
        touchmove(event) {
          event.preventDefault()
          if (this.refresh) return
          let pageY = event.changedTouches[0].pageY
          this.setMove(this.translateY + pageY - this.touch.pageY)
          this.smoothSpeed = (pageY - this.touch.pageY) * 30
          this.touch = event.changedTouches[0]
        },
        isEmit() {
          if (!this.isLoading) {
            let h = this.$refs.scroller.clientHeight
            let maxMove = -this.$refs.container.clientHeight + h + 20
            if (this.translateY < maxMove) {
              this.getLoad()
            }
            if (this.translateY > 20) {
              this.getRefresh()
            }
          }
        },
        touchend(event) {
          let move = this.translateY + this.smoothSpeed
          if (Math.abs(this.smoothSpeed) > 100) {
            if (this.translateY < 0) {
              this.setMove(move > 20 ? 0 : move, 'end')
            } else {
              this.setMove(move, 'end')
            }
          } else {
            return this.isEmit()
          }
          setTimeout(() => {
            this.isEmit()
          }, 500);
        },
      },
      mounted() {
        this.$refs.scroller.addEventListener('touchstart', this.touchstart, false)
        this.$refs.scroller.addEventListener('touchmove', this.touchmove, false)
        this.$refs.scroller.addEventListener('touchend', this.touchend, false)
      },
      beforeDestory() {
        this.$refs.scroller.removeEventListener('touchstart', this.touchstart, false)
        this.$refs.scroller.removeEventListener('touchmove', this.touchmove, false)
        this.$refs.scroller.removeEventListener('touchend', this.touchend, false)
      },
    })

    let vue = new Vue({
      el: '#app',
      data: {
        list: [],
        num: 0,
        isLoading: false,
        isMore: true
      },
      methods: {
        generateList() {
          this.isLoading = true
          setTimeout(() => {
            this.isLoading = false
            if (this.list.length < 40) {
              for (let i = 0; i < 200; i++) {
                this.list.push(this.num++)
              }
            } else {
              this.isMore = false
            }
          }, 500)
        },
        refresh() {
          this.num = 0
          this.isMore = true
          this.list = []
          this.generateList()
        },
      },
      created() {
        this.generateList()
      }
    })
  </script>
</body>

</html>